.interests-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    .tag {
        font-size: 0.85rem;
        color: #555;
        &:after { content: " | "; margin-left: 10px; color: #ccc; }
        &:last-child:after { content: ""; }
    }
}